/private_files/
/build/
/dist/
.vscode
__pycache__
.pytest_cache
tmp.py
/env/
/env_test/
/env_dev/
/env_build/
/_sample_img/
/_unit_tests_tmp/
/misc/appimagetool
/misc/VC_redist.x64.exe
/bin/
!bin/win.zip
/.coverage
/htmlcov/
/_pyinstaller
ref/*

rust_bindings/target/
*.so
*.pyd
ui-web/*
ui_web/node_modules/*
/_pyinstaller_web
/ui_web/dist
/ui_web/node_modules
/dist_web/*
/xlchemy.exe
/frontend/node_modules/*